*{
  margin: 0;
  font-family: sans-serif;
  border: 0;
  box-sizing: border-box;
}

.object {
  width: 50px;
  height: 50px;
  background-color: blue;
  transition: transform 1s;
}

.animate {
  transform: translateX(200px); /* Adjust the distance as needed */
}

.control{

  .btns-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4rem;

    & button{
      width: 120px;
      height: 50px;
      border-radius: 0.5rem;
      border-width: 0rem;
      font-size: 1rem;
      cursor: pointer;
    }

    & :nth-child(1){
      background: rgb(209, 105, 105);
    }

    & :nth-child(2){
      background: rgb(65, 182, 87);
    }

    & :nth-child(3){
      background: rgb(236, 207, 63);
    }

    & :nth-child(4){
      background: rgb(56, 53, 225);
    }
  }

}
